version: "3.9"

services:
  api-gateway:
    build: ./gateway
    container_name: api-gateway
    ports:
      - 8080:8080
    depends_on:
      - user-service
      - notification-service
    networks:
      - backend

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - 8081:8080
    depends_on:
      config-service:
         condition: service_healthy
      discovery-service:
        condition: service_healthy
      kafka:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/users/getUsers" ]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - backend

  notification-service:
    build: ./notification-service
    ports:
      - 8082:8080
    depends_on:
      user-service:
        condition: service_healthy
    networks:
      - backend

  config-service:
    build: ./config-service
    container_name: config-service
    ports:
      - 8083:8080
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/config/user-service" ]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - backend

  discovery-service:
    build: ./discovery-service
    container_name: discovery-service
    ports:
      - 8084:8080
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/getServices" ]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - backend

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 2181:2181
    networks:
      - backend

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - backend

networks:
  backend:
    driver: bridge